body {
  font-family: sans-serif;
  font-size: 18px;
  margin: 10px;
  color: white;
  background: #d3eee2;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.txt_red {
  color: #cb2c47;
}

.grid .grid-item {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 300px;
  height: auto;
  margin-bottom: 10px;
  background: #2e3444;
  -webkit-perspective: 1000;
          perspective: 1000;
}

.grid .grid-item--image {
  cursor: pointer;
}

.grid .grid-item--image:hover .item-hover_border {
  border: 10px solid #2e3444;
}

.grid .grid-item--image:hover .item-title_wrapper {
  bottom: 15px;
}

.grid .grid-item--image .item-title_wrapper {
  position: absolute;
  bottom: 0;
  text-align: right;
}

.grid .grid-item--flipped .item-front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.grid .grid-item--flipped .item-back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.grid .item-flipper {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.grid .item-front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.grid .item-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.grid .item-body {
  font-style: italic;
  margin: 0;
}

.grid .grid-title {
  font-size: 26px;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
}

.grid .grid-title--thick {
  font-weight: 800;
}

.grid .grid-title--thin {
  font-weight: 200;
}

.grid .item-img {
  width: 100%;
}

.grid .item-hover_border {
  position: absolute;
  z-index: 555;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0 solid #2e3444;
}

.grid .item-title_wrapper {
  width: 100%;
  padding: 20px 15px;
  background: #2e3444;
}

.grid .item-title {
  font-size: 18px;
  line-height: 1em;
  margin: 0;
  text-transform: uppercase;
}

.main {
  width: 100%;
  margin: 0 auto;
}

/** adapt main container to fit the maximum number of image that can be display per row, so it can be centered**/
@media screen and (max-width: 2180px) {
  .main {
    max-width: 1860px;
  }
}

@media screen and (max-width: 1870px) {
  .main {
    max-width: 1550px;
  }
}

@media screen and (max-width: 1560px) {
  .main {
    max-width: 1240px;
  }
}

@media screen and (max-width: 1250px) {
  .main {
    max-width: 930px;
  }
}

@media screen and (max-width: 940px) {
  .main {
    max-width: 620px;
  }
}

@media screen and (max-width: 630px) {
  .main {
    max-width: 300px;
  }
}
