@import 'variables.scss' ;

body {
    color: white;
    font-size: 18px;
    background: $blue_light;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
    transition: all .4s ease;
}

.txt_red {
    color: $red;
}


.grid {
    .grid-item {
        width: 300px;
        display: inline-block;
        height: auto;
        position: relative;
        margin: 5px;
        background: $blue_dark;
        &--image {
            &:hover {
                .item-hover_border {
                    border: 10px solid $blue_dark;
                }
                .item-title_wrapper {
                    bottom: 15px;
                }
            }
            .item-title_wrapper {
                position: absolute;
                text-align: right;
                bottom: 0px;
            }
        }
    }

    .grid-title {
        margin: 0px;
        text-align: left;
        font-size: 26px;
        text-transform: uppercase;
        &--thick {
            font-weight: 800;
        }
        &--thin {
            font-weight: 200;
        }
    }
    .item-img {
        width: 100%;
    }

    .item-hover_border {
        position: absolute;
        top: 0px;
        left: 0px;
        border: 0px solid $blue_dark;
        width: 100%;
        height: 100%;
    }

    .item-title_wrapper {
        background: $blue_dark;
        padding: 20px 15px;
        width: 100%;
    }
    .item-title {
        font-size: 18px;
        text-transform: uppercase;
        line-height: 1em;
        margin: 0;

    }
}

.main {
    width: 100%;
    .main-grid {
        .grid-item {

        }
    }
}
