@import 'variables.scss' ;

body {
    color: white;
    font-size: 18px;
    background: $blue_light;
    font-family: sans-serif;
    margin: 10px;
}

* {
    box-sizing: border-box;
    transition: all .4s ease;
}

.txt_red {
    color: $red;
}


.grid {
    .grid-item {
        width: 300px;
        display: inline-block;
        height: auto;
        position: relative;
        background: $blue_dark;
        margin-bottom: 10px;
        perspective: 1000;
        overflow: hidden;
        &--image {
            cursor: pointer;
            &:hover {
                .item-hover_border {
                    border: 10px solid $blue_dark;
                }
                .item-title_wrapper {
                    bottom: 15px;
                }
            }
            .item-title_wrapper {
                position: absolute;
                text-align: right;
                bottom: 0px;
            }
        }
        &--flipped {
            .item-front{
                transform: rotateY(180deg);
            }
            .item-back{
                transform: rotateY(0deg);
            }
        }
    }
    .item-flipper {
        transform-style: preserve-3d;
        position: relative;
    }
    .item-front {
        transform-style: preserve-3d;
        backface-visibility: hidden;
        z-index: 2;
        transform: rotateY(0deg);
    }
    .item-back {
        transform-style: preserve-3d;
        backface-visibility: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        transform: rotateY(180deg);
        padding: 15px;
    }

    .item-body {
        margin: 0px;
        font-style: italic;
    }

    .grid-title {
        margin: 0px;
        text-align: left;
        font-size: 26px;
        text-transform: uppercase;
        &--thick {
            font-weight: 800;
        }
        &--thin {
            font-weight: 200;
        }
    }
    .item-img {
        width: 100%;
    }

    .item-hover_border {
        position: absolute;
        top: 0px;
        left: 0px;
        border: 0px solid $blue_dark;
        width: 100%;
        height: 100%;
        z-index: 555;
    }

    .item-title_wrapper {
        background: $blue_dark;
        padding: 20px 15px;
        width: 100%;
    }
    .item-title {
        font-size: 18px;
        text-transform: uppercase;
        line-height: 1em;
        margin: 0;

    }
}

.main {
    width: 100%;
    margin: 0 auto;
    .main-grid {
        .grid-item {

        }
    }
}


/** adapt main container to fit the maximum number of image that can be display per row, so it can be centered**/
@media screen and (max-width: 2180px) {.main{max-width: 1860px}}
@media screen and (max-width: 1870px) {.main{max-width: 1550px;}}
@media screen and (max-width: 1560px) {.main{max-width: 1240px;}}
@media screen and (max-width: 1250px) {.main{max-width: 930px;}}
@media screen and (max-width: 940px) {.main{max-width: 620px;}}
@media screen and (max-width: 630px) {.main{max-width: 300px;}}
